body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: grid(3, 1fr);
    
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .container div{

} */

h1, h2 {
    color: #333;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #efe6e6;
}


.navbar {
    background-color: #eadfdf;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar h2 {
    margin: 0;
    color: rgb(54, 30, 30);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #2c2323;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff9800;
}

